.sell-share-container {
    margin-top: 100px;
    margin-left:500px;
    max-width: 450px;
    padding: 30px;
    background-color: #F8F8F8;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    align-items: center;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .label {
    display: block;
    margin-bottom: 5px;
    color: #333333;
    font-weight: bold;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
  }
  
  .submit-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #FF9900;
    color: #FFFFFF;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #FFAD33;
  }
  